* {
  font-family: "Work Sans", sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: hsl(275, 100%, 97%);
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  & .card {
    background-color: white;
    margin: 1.25rem;
    padding: 1rem;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 0.75rem;
    max-width: 500px;

    & .card-title {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-weight: 700;

      & img {
        height: 30px;
        width: 30px;
        padding: auto;
        margin-left: 10px;
      }

      & h1 {
        font-size: 40px;
        color: hsl(292, 42%, 14%);
      }
    }

    & .card-content {
      & .accordions {
        & .accordion {
          border-bottom: 1px solid hsl(275, 100%, 97%);
          padding-bottom: 16px;
          padding-top: 16px;
          & :hover {
            cursor: pointer;
          }
          & .accordion-title {
            display: flex;
            justify-content: space-between;
            margin: 0.2rem;
            padding: 0.5rem;

            & h2 {
              color: hsl(292, 42%, 14%);
              font-family: "Work Sans", sans-serif;
              font-size: 20px;
              font-weight: 600;
            }

            & .minus {
              display: none;
            }

            & .plus {
              display: block;
            }
          }

          & .accordion-content {
            display: flex;
            overflow: hidden;
            max-height: 0;
            color: hsl(292, 16%, 49%);
            font-weight: 400;
            transition: max-height 0.3s ease-in-out;
          }

          &.open {
            .accordion-title {
              .minus {
                display: block;
              }
              .plus {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section {
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }
}
